<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-signin">
    <h2 class="form-signin-heading">Forgot your password?</h2>

    <%= f.label :email, class: "sr-only" %>
    <%= f.email_field :email, placeholder: "Email address", class: "form-control form-spacer", autofocus: true %>
    <%= f.submit "Send me reset password instructions", class: "btn btn-default btn-block form-spacer", style: "margin-top:10px;margin-bottom:10px;" %>
    <div class="center">
      <%= link_to "Back to login &crarr;".html_safe, root_path %>
    </div>
  </div>
<% end %>

