<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <%= f.label :email, class: "sr-only" %>
    <%= f.email_field :email, placeholder: "Email address", class: "form-control", autofocus: true %>

    <%= f.label :password, class: "sr-only" %>
    <%= f.password_field :password, placeholder: "Password", class: "form-control", autocomplete: "off" %>

    <%= f.submit "Sign in", class: "btn btn-default btn-block"%>

    <div class="center">
      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me, class: "signin-checkbox" %> <%= f.label :remember_me %> /
      <% end -%>
      <%= link_to "Forgot your password?", new_password_path(resource_name) %>
    </div>
  </div>
<% end %>
