<%= form_for @item do |f| %>
  <h1>Edit Item : <%= @item.name %> <%= f.submit "Save changes &raquo;".html_safe, class: "btn btn-primary" %></h1>

  <div class="row">
    <div class="col-md-6">
      <%= f.text_field :name, placeholder: "Name", class: "form-control form-spacer" %>
    </div>
    <div class="col-md-6">
      <%= f.collection_select(:category_ids, @categories, :id, :name, {:include_blank => 'Category (Optional)'}, {:class => 'form-control form-spacer'}) %>
    </div>
    <div class="col-md-12">
      <%= f.text_area :description, placeholder: "Description", class: "form-control" %>
    </div>
  </div>
<% end %>
