<h1>Stock : <%= @category.name %> <%= link_to "Back &crarr;".html_safe, categories_path, class: "btn btn-primary" %></h1>

<table class="table">
  <thead>
    <tr>
      <th style="width:5%;">#</th>
      <th style="width:40%;">Item</th>
      <th style="width:40%;">Description</th>
      <th style="Width:15%;">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |i| %>
      <tr>
        <td><%= i.id %></td>
        <td>
          <%= i.name %>
          <% i.categories.each do |c| %>
            <span class="label label-info"><%= c.name %></span>
          <% end %>
        </td>
        <td><%= i.description %></td>
        <td>
          <%= link_to "Edit", edit_item_path(:id => i.id) %> /
          <%= link_to "Delete", item_path(:id => i.id), method: :delete, data: { confirm: 'Delete ?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
