<!DOCTYPE html>
<html>
  <head>
    <title>Inventory</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav top">
          <li class="sidebar-brand">
            <%= link_to "DEV", root_path %>
          </li>
          <li><%= link_to "Inventory", inventory_path %></li>
          <li><%= link_to "Items", items_path %></li>
          <li><%= link_to "Locations", locations_path %></li>
        </ul>
        <ul class="sidebar-nav bottom">
          <li><%= link_to "My account", "" %></li>
          <li><%= link_to "Logout", logout_path %></li>
        </ul>
      </div>
      <!-- /#sidebar-wrapper -->
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <!-- nav-top, if width < 768px -->
              <div id="navigation-top">
                <ol class="breadcrumb">
                  <li><%= link_to "Inventory", inventory_path %></li>
                  <li><%= link_to "Items", items_path %></li>
                  <li><%= link_to "Locations", locations_path %></li>
                  <li><%= link_to "My account", "" %></li>
                  <li><%= link_to "Logout", logout_path %></li>
                </ol>
              </div>
              <!-- /nav-top -->
              <!-- flash messages -->
              <div id="flash-wrapper">
                <% if flash[:error] %>
                  <div class="alert alert-danger fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                      <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                    </button>
                    <%= flash[:error].html_safe %>
                  </div>
                <% end %>
                <% if flash[:success] %>
                  <div class="alert alert-success fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                      <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                    </button>
                    <%= flash[:success].html_safe %>
                  </div>
                <% end %>
                <% if flash[:notice] %>
                  <div class="alert alert-info fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                      <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                    </button>
                    <%= flash[:notice].html_safe %>
                  </div>
                <% end %>
              </div>
              <!-- /Flash messages -->
            </div>
            <div class="col-lg-12">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
      <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
  </body>
</html>
